<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Pet Shop</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/views/css/style.css'>
</head>

<body>
  <center>
    <img src="/views/img/telalogin.jpg" id=imglogin>
    <div id="telalogin">
    <h1>
      <font color='#0595a6'>Login</font>
    </h1><br>
    <form action="/login" method="POST">
      <table>
        <tr>
          <td><label>Usuário: </label></td>
          <td><input name="username" type="text"></td>
        <tr>
        <tr>
          <td><label>Senha: </label></td>
          <td><input name="password" type="password"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Login"></td>
        </tr>
      </table>
    </form><br><br><font color="red"><b>{{message}}</b></font>
    </div>
  </center>
      <footer class="footer">
        <br>
        Copyright © 2021 - Todos os direitos são reservados. <br>
        Desenvolvido por Fabio Augusto <br>
        E-mail: f.augusto@live.com<br>
        <br>
    </footer>
</body>

</html>